* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer_map {
  position: absolute;
  width: 100vw;
  background-color: black;
  bottom: 0;

  .container {
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;

    div {
      display: inline;
      margin-left: 5.625rem;
      margin-top: 0.5rem;
      z-index: 1;
    }

    p {
      color: white;
      padding: 1rem 5rem 1rem 1.875rem;
      z-index: 1;
    }
  }

}