*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer{
  width: 100vw;
  height: 80px;
  background-color: black;

  .container{
    width: 60%;
    margin: auto;
    color: white;
    font-size: 16px;
    text-transform: uppercase ;
    align-items: center;
    display: flex;
    white-space: nowrap;
    h3, p{
      padding-top: 30px;
      padding-right: 80px;
      padding-left: 30px;
    }
    div{
      padding-top: 30px;
      margin-left: 90px;

    }
  }
}