* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100vw;
  height: 5rem;
  display: flex;
  background-color: black;
  opacity: 0.8;
  color: white;
  justify-content: center;
  text-align: center;

  .container {
    width: 80vw;
    margin: auto;
    display: flex;
    align-content: space-between;
    position: relative;

    .logo {
      width: 16rem;
      display: flex;
      align-items: center;
      align-content: space-between;
      font-size: 1.375rem;
      text-align: center;
      font-family: 'Shadows Into Light', cursive;

      .faCrow {
        animation: App-logo-spin infinite 1.2s linear;
      }

      @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(25deg);
        }
      }

      h1 {
        font-size: 2.2rem;
        margin-left: 2rem;
        white-space: nowrap;
      }
    }

    .menu {
      width: 40rem;
      display: inline;
      margin-left: 9rem;
      position: absolute;
      right: 0;

      ul {
        display: flex;
        text-transform: uppercase;
        justify-items: flex-start;
        justify-content: space-between;
        list-style-type: none;
        font-size: 1.25rem;
        text-align: center;


        li {
          display: block;
          justify-content: space-around;
          margin-top: 1.6rem;
          white-space: nowrap;
        }


        a {
          text-decoration: none;
          color: white;
        }

        a:hover {
          color: mediumvioletred;
        }

      }
    }
  }
}

@media screen and (max-width: 1200px) {

  ul {
    position: absolute;
    right: 0;
    width: 10rem;
    flex-direction: column;
    background-color: black;
    background-position: center;
    opacity: 0.8;

    li {
      text-align: center;
    }
  }
}

@media screen and(max-width: 600px) {
  header {
    display: block;
    white-space: normal;
  }
}