*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100vw;
  height: 100px;
  display: flex;
  background-color: black;
  opacity: 0.8;
  color: white;
  justify-content: center;

  .container {
    width: 80%;
    margin: auto;
    display: flex;

    .logo {
      width: 300px;
      display: flex;
      align-items: center;
      font-size: 22px;
      text-align: center;
      font-family: 'Shadows Into Light', cursive;

      .faCrow{
        animation: App-logo-spin infinite 1.2s linear;
      }
      @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(25deg);
        }
      }
      h1{ font-size: 35px;
        margin-left: 20px;
      }
    }

    ul {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      justify-content: space-between;
      list-style-type: none;
      font-size: 20px;
      margin-left: 80px;

      li {
        margin-left: 70px;
        margin-top: 25px;

      }

      a {
        text-decoration: none;
        color: white;
      }

    }
  }
}