*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  .maps {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: yellow;
    color: black;
    font-size: 15px;
}
  .maps_view{
    width: 350px;
    height: 270px;
    border: 1px solid darkslategray;
    border-radius: 5px;
    background-color: white;
    opacity: 0.6;
    text-align: center;
    font-size: 15px;
    h1{font-size: 20px;

    }
  }


